// Fonte
$font-family: "Noto Sans", sans-serif;

// Cores
$black: #000000;
$white: #ffffff;
$blue-1: #5193ff;
$blue-2: #b1d2ff;
$blue-3: #1473cc;
$red-1: #ff4242;
$red-2: #b62020;
$green-1: #2b8a1c;
$green-2: #146616;
$gray-1: #646464;

// Largura da tela
$mobile-sm: 440px;
$mobile: 640px;
$tablet: 768px;
$desktop: 1024px;